<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_user1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/header_sticky.css}" />
	<link rel="stylesheet" th:href="@{/css/header_white.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
</th:block>


<div layout:fragment="content">

<!-- Shop Single -->
		<section class="shop single section">
					<div class="container">
						<div class="row"> 
							<div class="col-12">
								<div class="row">
									<div class="col-lg-6 col-12">
										<!-- Product Slider -->
										<div class="product-gallery">
											<!-- Images slider -->
											<div class="flexslider-thumbnails">
												<ul class="slides">
													<li data-thumb="https://via.placeholder.com/570x520" rel="adjustX:10, adjustY:">
														<img src="https://cf.lottecinema.co.kr//Media/WebAdmin/113c4f562c6e4c9d94e973b590f594ab.jpg" alt="#">
													<!-- </li>
													<li data-thumb="https://via.placeholder.com/570x520">
														<img src="https://via.placeholder.com/570x520" alt="#">
													</li>
													<li data-thumb="https://via.placeholder.com/570x520">
														<img src="https://via.placeholder.com/570x520" alt="#">
													</li>
													<li data-thumb="https://via.placeholder.com/570x520">
														<img src="https://via.placeholder.com/570x520" alt="#">
													</li> -->
												</ul>
											</div>
											<!-- End Images slider -->
										</div>
										<!-- End Product slider -->
									</div>
									<div class="col-lg-6 col-12">
										<div class="product-des">
											<!-- Description -->
											<div class="short">
												<h4>스위트 콤보</h4>
												<div class="rating-main">
													
												</div>
												<p class="price"><span class="discount">10,000원</span><s></s> </p>
												<h4 class="description"> 구성품 <p>오리지널L + 탄산음료M2</p> </h4>
												<h4 class="description"> 구매제한 <p>1인 1일 10매</p> </h4>
												<h4 class="description"> 유효기간 <p>하이상품권 24개월</p> </h4>
												<h4 class="description"> 사용가능 영화관 <p>하이시네마</p> </h4>
											</div>
											<!--/ End Description -->
											<!-- Color -->
											<!-- <div class="color">
												<h4>Available Options <span>Color</span></h4>
												<ul>
													<li><a href="#" class="one"><i class="ti-check"></i></a></li>
													<li><a href="#" class="two"><i class="ti-check"></i></a></li>
													<li><a href="#" class="three"><i class="ti-check"></i></a></li>
													<li><a href="#" class="four"><i class="ti-check"></i></a></li>
												</ul>
											</div> -->
											<!--/ End Color -->
											<!-- Size -->
											<!-- <div class="size">
												<h4>Size</h4>
												<ul>
													<li><a href="#" class="one">S</a></li>
													<li><a href="#" class="two">M</a></li>
													<li><a href="#" class="three">L</a></li>
													<li><a href="#" class="four">XL</a></li>
													<li><a href="#" class="four">XXL</a></li>
												</ul>
											</div> -->
											<!--/ End Size -->
											<!-- Product Buy -->
											<div class="product-buy">
												<div class="quantity">
													<h6></h6>
													<!-- Input Order -->
													<div class="input-group">
														<div class="button minus">
															<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
																<i class="ti-minus"></i>
															</button>
														</div>
														<input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
														<div class="button plus">
															<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
																<i class="ti-plus"></i>
															</button>
														</div>
													</div>
													<!--/ End Input Order -->
												</div>
                                                <div class="add-to-cart">
                                                    
													<a href="#" class="btn">구매하기</a> 
													<a href="gift" class="btn">선물하기</a> 
													<a href="basket" class="btn min"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
												</div>
												</div>
												<p class="cat">Category :<a href="#">스낵음료</a></p>
											<!-- 	<p class="availability">Availability : 180 Products In Stock</p> -->
											</div>
											<!--/ End Product Buy -->
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<div class="product-info">
											<div class="nav-main">
												<!-- Tab Nav -->
												<ul class="nav nav-tabs" id="myTab" role="tablist">
													<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#description" role="tab">사용방법</a></li>
													<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews" role="tab">유의사항</a></li>
												</ul>
												<!--/ End Tab Nav -->
											</div>
											<div class="tab-content" id="myTabContent">
												<!-- 사용방법 로고탭 -->
												<div class="tab-pane fade show active" id="description" role="tabpanel">
													<div class="tab-single">
														<div class="row">
															<div class="col-12">
																<div class="single-des">
																	<h4>사용방법</h4> 
																	<p>- 스토어 상품은 회원만 구매하실 수 있습니다.</p>
																	<p>- 유효기간은 24개월로 사용일 기준입니다.</p>
																	<p>- 결제가 완료된 상품은 마이시네마 > 예매/구매내역에서 확인 가능합니다.</p>
																	<p>- 영화관 스위트샵(매점) 방문 후, 바코드를 제시하는 방법으로도 사용가능합니다.</p>
																	<p>- 선물한 상품은 마이시네마 > 예매/구매내역 메뉴에서 30일 내 재발송 1회만 가능하며, 받는 사람 번호는 변경 불가합니다.</p>
																</div>
																<div class="single-des">
																	<!-- <p>Suspendisse consequatur voluptates lorem nobis accumsan natus mattis. Optio pede, optio qui metus, delectus! Ultricies impedit, minus tempor fuga, quasi, pede felis commodo bibendum voluptas nisi? Voluptatem risus tempore tempora. Quaerat aspernatur? Error praesent laoreet, cras in fames hac ea, massa montes diamlorem nec quaerat, quos occaecati leo nam aliquet corporis, ab recusandae parturient, etiam fermentum, a quasi possimus commodi, mollis voluptate mauris mollis, quisque donec</p> -->
																</div>
																<div class="single-des">
																	<h4><!-- 사용방법 --></h4>
																	<ul>
																		<!-- <li>long established fact.</li>
																		<li>has a more-or-less normal distribution. </li>
																		<li>lmany variations of passages of. </li>
																		<li>generators on the Interne.</li> -->
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--/ End Description Tab -->
												<!-- Reviews Tab -->
												<div class="tab-pane fade" id="reviews" role="tabpanel">
													<div class="tab-single review-panel">
														<div class="row">
															<div class="col-12">
																<div class="ratting-main">
																	<div class="avg-ratting">
																		<h4>취소/환불</h4> <br>
																		<p>- 스토어 상품의 취소기한은 구매일로부터 70일 입니다.</p>
																		<p>- 구매취소는 취소기한 내 마이시네마 > 예매/구매내역에서만 가능합니다.(현장취소 불가)</p>
																		<p>- 구매하신 상품은 부분환불 및 현금환불이 불가합니다.</p>
																		<p>- 여러 상품을 한 번에 구매한 경우 일괄 취소만 가능하며, 사용한 상품이 있을 때는 환불 불가합니다.</p>
                                                                         <br>
                                                                        <div class="avg-ratting">
                                                                            <h4>기타</h4> <br>
                                                                            <p>- 본 교환권은 기재된 유효기간까지 (관람일 기준) 사용할 수 있습니다.</p>
                                                                            <p>- 유효기간 만료 시 고객센터(1544-8855 유료)를 통해 발급일로부터 5년까지 연장할 수 있으며, 1회 연장 시 단위는 3개월입니다.</p>
                                                                        </div>
																	</div>
																	
																
																<!--/ End Form -->
															</div>
														</div>
													</div>
												</div>
												<!--/ End Reviews Tab -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
		<!--/ End Shop Single -->

														<!--/ End Shop Single -->
														<th:block layout:fragment="script">


														</th:block>
</html>
