<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_user1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/header_sticky.css}" />
	<link rel="stylesheet" th:href="@{/css/header_white.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
	<link rel="stylesheet" th:href="@{/css/notice.css}" />
	<link rel="stylesheet" th:href="@{/css/MYCSS.css}" />

	<style>
.pagination {
	display: flex;
}
</style>
</th:block>

<div layout:fragment="content">

	<!-- 작업시작지점 -->
	<div id="center_menu">
		<div class="top-section">
			<div class="customer-service">고객센터</div>
			<hr class="line" />
		</div>

		<div class="buttons">
			<button style="z-index: 500;" onclick="window.location.href='/faq'">
				<span>FAQ</span>
			</button>
			<button style="z-index: 500;">
				<span>공지사항</span>
				<div class="notice-buttons" style="z-index: 500;">
					<span>전체공지</span> <span>영화관공지</span>
				</div>
			</button>
			<button style="z-index: 500;"
				onclick="window.location.href='/inquiry'">
				<span>1:1문의</span>
			</button>
			<button style="z-index: 500;">
				<span>분실물 문의</span>
			</button>
		</div>
		<!--  -		<div class="buttons">
		
	  
				 <span style="z-index:500;"><a href="/faq">FAQ </a></span>
				 
				<button onclick="window.location.href='/faq'">
					<span>FAQ</span>
				</button>
				

		<button>
			<span>공지사항</span>
			<div class="notice-buttons">
				<span>전체공지</span> <span>영화관공지</span>
			</div>
		</button>
		<button>
			<span>1:1문의</span>
		</button>
		<button>
			<span>분실물 문의</span>
		</button>
	</div>
	-->

	<!-- board seach area -->
	<div id="board-search">
		<div class="container">
			<div class="search-window">
				<form action="">
					<div class="search-wrap">
						<label for="search" class="blind">공지사항 내용 검색</label> <input
							id="search" type="search" name="" placeholder="검색어를 입력해주세요."
							value="">
						<button type="submit" class="btn btn-dark">검색</button>
					</div>
				</form>
				<div class="help-link">
					<p>더 궁금한 점이 있거나, 이미 문의한 내용과 답변을 확인하려면?</p>
					<a href="#none">1:1문의 바로가기</a>
				</div>
			</div>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>구분</th>
				<th>제목</th>
				<th>등록일</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>전체</td>
				<td><a href="#none">첫 번째 게시물</a></td>
				<td>2024-02-19</td>
			</tr>
			<tr>
				<td>2</td>
				<td>전체</td>
				<td><a href="#none">두 번째 게시물</a></td>
				<td>2024-02-20</td>
			</tr>
			<!-- 추가적인 게시물은 이어서 넣어주세요 -->
		</tbody>
	</table>

	<div class="pagination">
		<div class="page-item">
			<a href="#" class="page-link"><i class="fa fa-angle-left"
				aria-hidden="true"></i></a>
		</div>
		<div class="page-item">
			<a href="#" class="page-link">1</a>
		</div>
		<div class="page-item">
			<a href="#" class="page-link">2</a>
		</div>
		<div class="page-item">
			<a href="#" class="page-link"><i class="fa fa-angle-right"
				aria-hidden="true"></i></a>
		</div>
	</div>
</div>

<!-- Modal end -->
<th:block layout:fragment="script">


</th:block>

</html>
